.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.githubblocks{
    font-size: 30px;
    font-style: normal;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.githubblocks img{
    height: 200px;
    width: 200px;
    padding: 20px;
}
.top{
    justify-content: space-between;
    background-color: aquamarine;
    
}
.middle{
    justify-content: center;
    background-color: cornsilk;
    
}
.bottom{
    justify-content: flex-start;
    background-color: coral;
    
}
.footer{
    font-size: 14px;
    font-style: normal;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.row{
    display:flex;
    width: 900px;
    padding: 20px;
    margin: 20px;
}